/* Fonts */
@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v30-latin-700.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Play';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/play-v17-cyrillic_latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Play';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/play-v17-cyrillic_latin-700.woff2') format('woff2');
}

:root {
    --color-brand-light: #2B7FFF;
    --color-brand-dark: #011C44;
    --color-primary-light: #FFFFFF;
    --color-secondary-grey:#4A4A4A;
    --color-secondary-brown: #747272;
}

/* Base */

body {
    color: var(--color-brand-dark);
    font-weight: 400;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;

}

ul {
    list-style: none;
}



/* Links */
.header-link {
    color: var(--color-brand-dark);
    text-decoration: none;
    font-size: 18px;
    line-height: 1.1;
}

.header-link:hover {
    color: var(--color-brand-light);
    font-weight: 700;
}

/* Hero section */
.hero-title {
    text-transform: capitalize;
    color: var(--color-brand-light);
    font-size: 140px;
    font-weight: 700;
}

.hero-name {
    line-height: 1.1;
    font-size: 18px;
}

.hero-title.text {
    font-size: 64px;
    font-weight: 700;
    font-family: 'Play', sans-serif;
    color: var(--color-brand-dark);
    line-height: 0.8;
}

.hero-title.text.normal {
    font-size: 64px;
    font-weight: 700;
    font-family: 'Play', sans-serif;
    color: var(--color-brand-dark);
    line-height: normal;
}


.hero-text {
    color: var(--color-secondary-grey);
    line-height: 1.5;
    font-size: 12px;
}

.hero-div {
    line-height: 1.7;
}

.div-title {
    font-weight: 700;
    font-size: 64px;
    font-family: 'Play', sans-serif;
}

/* Info section */
.info-text {
    color: #000000;
    font-size: 18px;
    line-height: 1.3;
}

/* Procedures section */
.procedures-text {
    color: var(--color-primary-light);
    line-height: 1.1;
}

/* Contact-section */
.contact-text {
    color: var(--color-primary-light);
    line-height: 1.1;
    font-size: 22px;
    font-weight: 600;
}

.contact-policy {
    color: var(--color-secondary-brown);
    line-height: 1.5;
    font-size: 12px;
    text-decoration-line: underline;
}


/* Button */
.button {
    color: var(--color-primary-light);
    font-size: 18px;
    font-weight: 600;
    border-radius: 32px;
    border: 0px solid var(--color-brand-light);
    background-color: var(--color-brand-light);
}

.button:hover {
    color: var(--color-brand-dark);
    background-color: transparent;
    border: 2px solid var(--color-brand-light);
}

.brand {
    color: var(--color-brand-light);
    text-transform: capitalize;
    font-weight: 600;
}

.brand.hero {
    color: var(--color-brand-dark);
}

.brand.text {
    text-transform: lowercase;
}

/* Footer */

footer {
    background-color: var(--color-brand-dark);
}

.footer-link {
    color: var(--color-primary-light);
    text-decoration: none;
    font-size: 16px;
    line-height: 1.1;
}

.footer-link:hover {
    color: var(--color-brand-light);
}

.address-link {
    color: var(--color-primary-light);
    text-decoration: none;
    font-size: 16px;
    font-style: normal;
    line-height: 1.1;
}

.address-copyright {
    color: var(--color-secondary-brown);
    font-size: 13px;
    font-style: normal;
}
